{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Log In" %}{% endblock %}

{% block content %}

<div class="container-sm card mt-5 content-background">
    <div class="row justify-content-sm-center p-4">
        <h1>{% trans "Sign In" %}</h1>
        <h5>{% blocktrans %}If you don't have an account?
            <a href="{{ signup_url }}" class="btn btn-sm btn-normal ms-2">Sign Up!</a>{% endblocktrans %}
        </h5>
        <hr>
        <form class="login" method="POST" action="{% url 'account_login' %}">
            {% csrf_token %}
            {{ form.as_p }}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <button class="primaryAction btn btn-lg btn-normal" type="submit">{% trans "Log In" %}</button>
        </form>
    </div>
</div>

{% endblock content %}
