{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Log Out" %}{% endblock head_title %}

{% block content %}

<div class="container-sm card my-5 content-background">
    <div class="row justify-content-sm-center p-4">
        <h1>{% trans "Log Out" %}</h1>
        <hr>
        <h5>{% trans 'Are you sure you want to Log Out?' %}</h5>

        <form method="post" action="{% url 'account_logout' %}">
            {% csrf_token %}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
            {% endif %}
            <button type="submit" class="btn btn-lg btn-normal mt-3 me-2">{% trans 'Log Out' %}</button>
            <a class="btn btn-lg btn-normal mt-3" href="{% url 'home' %}">Go back to Home</a>
        </form>
    </div>
</div>

{% endblock content %}
