{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- about.html content starts here -->
<div class="container-sm mt-5">
    <div class="row justify-content-center">
        <div class="col-md-10 card content-background">
            <div class="row justify-content-center p-lg-5 p-2">
                <div class="col-7">
                    <img src="{% static 'images/osrs-logo.JPG' %}" alt="OSRS Tips logo" class="about-logo img-fluid">
                </div>
                <h1 class="text-center mt-3">OSRS Tips Forum</h1>
                <div class="text-center fs-5">
                    <p class="fst-italic mb-0">Greetings, fellow adventurers of Gielinor!</p>
                    <p>Welcome to the ultimate hub for wisdom, strategies, and shared insights on conquering the challenges of Gielinor. Our
                    Old School RuneScape Tips Forum is where the veterans share their hard-earned knowledge, and newcomers seek the guidance
                    they need to embark on their epic quests.</p>
                </div>
                <div class="col-6">
                    <img src="{% static 'images/kril_tsutsaroth.webp' %}" class="img-fluid mb-2" alt="K'ril_Tsutsaroth image">
                </div>
                <div class="text-center fs-6">
                    <p class="fw-bold mb-0">Quest for Mastery: Quest Guides and Walkthroughs</p>
                    <p>Embark on your journey with confidence by exploring a treasure trove of quest guides and walkthroughs. Discover the
                    secrets of each quest, unveil hidden shortcuts, and triumph over the most formidable foes with the collective knowledge
                    of our seasoned players.</p>
                    <p class="fw-bold mb-0">Gold Rush: Money-Making Strategies</p>
                    <p>Uncover the secrets to amassing wealth in Gielinor! From flipping items on the Grand Exchange to ingenious farming
                    methods, our community of savvy entrepreneurs shares their tips and tricks to fill your coffers and fund your next grand
                    adventure.
                    <p class="fw-bold mb-0">Combat Chronicles: Battle Tactics and Strategies</p>
                    <p>Whether you're facing the deadliest bosses or navigating through the Wilderness, our forum is your arsenal of combat
                    wisdom. Dive into discussions about optimal gear setups, ability rotations, and tactical maneuvers that will make you an
                    unstoppable force on the battlefield.</p>
                    <p class="fw-bold mb-0">Skilling Symposium: Mastering the Arts of Gielinor</p>
                    <p>into the art of skilling with in-depth discussions on efficient training methods, resource gathering, and
                    achieving those coveted 99s. Learn from the experiences of those who have mastered the arts of fishing, woodcutting,
                    mining, and more.</p>
                    </p>
                </div>
                <h2 class="text-center mt-3">Join Us Today!</h2>
                <hr>
                <div class="row justify-content-center p-0">
                    <div class="col-3 p-0 text-center">
                        <a href="{% url 'account_login' %}" class="btn btn-lg btn-normal">Log In</a>
                    </div>
                    <div class="col-3 p-0 text-center">
                        <a href="{% url 'account_signup' %}" class="btn btn-lg btn-normal">Sign Up</a>
                    </div>
                    <div class="col-2 p-0">
                        <h3 class="fw-bold">- or -</h3>
                    </div>
                    <div class="col-4 p-0">
                        <a href="{% url 'home' %}" class="btn btn-lg btn-normal">View Posts as a Guest!</a>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
<!-- about.html content ends here -->

{% endblock %}