{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- about.html content starts here -->
<div class="container-sm card mt-5 content-background">
    <div class="row justify-content-sm-center p-3">
        <img src="{% static 'images/osrs-logo.JPG' %}" alt="OSRS Tips logo" class="about-logo img-fluid">
        <h1>OSRS Tips Forum</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque suscipit quasi et dolores corporis ea omnis laboriosam error modi? Repellat ex quibusdam ad qui at excepturi recusandae hic fuga quisquam!</p>
        <img src="{% static 'images/kril_tsutsaroth.webp' %}" class="img-fluid" alt="K'ril_Tsutsaroth image">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt autem optio provident beatae ducimus in quo commodi? Totam, reiciendis, perspiciatis beatae magnam deserunt molestiae accusamus nam, laudantium aperiam ut velit!
        Ut repellat magnam libero atque quam esse aspernatur hic sequi. Praesentium minus exercitationem, quis dolores error aperiam labore iure, perspiciatis veritatis velit tenetur asperiores! Qui veniam laboriosam nam numquam nisi.
        Maiores amet alias repudiandae adipisci cupiditate et eaque, quam facere, nesciunt fugiat suscipit vitae, delectus quisquam iusto eveniet culpa doloremque reprehenderit pariatur quasi ratione! Perferendis iusto sit odio consequuntur molestiae!
        Animi libero sint architecto aliquid consequuntur totam nulla obcaecati, dolore autem aspernatur culpa sed unde atque molestiae dolores, doloribus deserunt velit dolorem ullam vitae, iste nobis. Asperiores dolore necessitatibus vitae!
        Hic, excepturi deserunt. Libero fuga nam molestiae possimus? Eum sunt non atque et nulla est facere ullam deserunt ad optio, ex natus distinctio autem minus quas earum fugit! Minima, quas!</p>
    </div>
</div>
<!-- about.html content ends here -->

{% endblock %}