{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- index.html content starts here -->
<div class="container-sm card mt-5 content-background">
    <div class="row justify-content-sm-center p-3">
        <div class="col-md-4 col-12 mb-3">
            <div class="dropdown">
                <button class="btn btn-normal btn-lg dropdown-toggle" type="button" id="dropdownMenuButton2"
                    data-bs-toggle="dropdown" aria-expanded="false">Categories</button>
                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
                    <li><a class="dropdown-item" href="{% url 'home' %}">All <i class="fa-solid fa-globe float-end pt-1"></i></a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="{% url 'pvm' %}">PvM <i class="fa-solid fa-shield float-end pt-1"></i></a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="{% url 'pvp' %}">PvP <i class="fa-solid fa-skull float-end pt-1"></i></a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="{% url 'skilling' %}">Skilling <i class="fa-solid fa-hammer float-end pt-1"></i></a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="{% url 'questing' %}">Questing <i class="fa-regular fa-compass float-end pt-1"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-8 col-12 mb-3">
            <h2 class="mb-0 mt-2">Posts Category - PvM <i class="fa-solid fa-shield category-icons"></i></h2>
        </div>
        <hr>
        {% for post in object_list %}
        <div class="col-lg-4 col-md-6 p-3 {% if not post.approved and post.author == request.user %}not-approved{% elif not post.approved %}d-none{% endif %}">
            <a href="{% url 'post_detail' post.slug %}" class="">
                <div class="card card-background">
                    {% if "placeholder" in post.post_image.url %}
                    <img src="{% static 'images/placeholder-image.jpg' %}" alt="{{post.title}} image">
                    {% else %}
                    <img src=" {{ post.post_image.url }}" alt="{{post.title}} image">
                    {% endif %}
                    <h2 class="px-2 pt-1 m-0">{{post.title}}</h2>
                    <h5 class="fst-italic px-2 pt-1 m-0">Author: {{ post.author }}</h5>
                    <hr class="m-1">
                    <p class="p-2 mb-1">{{post.excerpt}}</p>
                    {% if not post.approved %}
                    <h4 class="ps-2"><bold>Post is awaiting approval</bold></h4>
                    {% endif %}
                    <p class="text-muted fst-italic text-italic px-2 m-0">Created on: {{ post.created_on }}</p>
                    {% if post.created_on.value == post.updated_on.value %}
                    {% else %}
                    <p class="text-muted fst-italic px-2 m-0">Last edited: {{ post.updated_on }}</p>
                    {% endif %}
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
<!-- index.html content ends here -->

{% endblock %}
