{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- category_pvp.html content starts here -->
<div class="container-sm card my-5 content-background">
    <div class="row justify-content-sm-center p-3">
        <div class="col-md-4 col-12 mb-3">
            <div class="dropdown">
                <button class="btn btn-normal btn-lg dropdown-toggle" type="button" id="dropdownMenuButton2"
                    data-bs-toggle="dropdown" aria-expanded="false">Categories</button>
                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
                    <li><a class="dropdown-item" href="{% url 'home' %}">All <i class="fa-solid fa-globe float-end pt-1"></i></a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="{% url 'pvm' %}">PvM <i class="fa-solid fa-shield float-end pt-1"></i></a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="{% url 'pvp' %}">PvP <i class="fa-solid fa-skull float-end pt-1"></i></a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="{% url 'skilling' %}">Skilling <i class="fa-solid fa-hammer float-end pt-1"></i></a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="{% url 'questing' %}">Questing <i class="fa-regular fa-compass float-end pt-1"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-8 col-12 mb-3">
            <h2 class="mb-0 mt-2">Posts Category - PvP <i class="fa-solid fa-skull category-icons"></i></h2>
        </div>
        <hr>
        {% for post in object_list %}
        <div class="col-xl-4 col-lg-6 col-md-12 p-3 {% if not post.approved and post.author == request.user %}not-approved{% elif not post.approved %}d-none{% endif %}">
            <a href="{% url 'post_detail' post.slug %}" class="">
                <div class="card h-100 card-background">
                    {% if "placeholder" in post.post_image.url %}
                    <img src="{% static 'images/placeholder-image.jpg' %}" alt="{{post.title}} image">
                    {% else %}
                    <img src=" {{ post.post_image.url }}" alt="{{post.title}} image" class="card-img-top img-fluid">
                    {% endif %}
                    <div class="card-header">
                        <h4 class="mb-1">{{post.title}} <span
                                class="{% if post.category  == 'none' %}d-none{% else %} badge rounded-pill {{post.category}}{% endif %}">
                                {{post.category}}</span>
                        </h4>
                        <div class="col">
                            <h5 class="fst-italic m-0">Author: {{ post.author }}</h5>
                        </div>
                    </div>
                    <div class="card-body">
                        {% if not post.approved %}
                        <h4 class="">
                            <bold>Post is awaiting approval</bold>
                        </h4>
                        {% else %}
                        <p class="">{{post.excerpt}}</p>
                        {% endif %}
                    </div>
                    <div class="card-footer">
                        <p class="text-muted fst-italic m-0">Created on: {{ post.created_on }}</p>
                        <p class="text-muted fst-italic m-0">Last edited: {{ post.updated_on }}</p>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
<!-- category_pvp.html content ends here -->

{% endblock %}
