{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- index.html content starts here -->

<div class="container-sm card content-background">
    <div class="row justify-content-sm-center p-3">
        {% for post in object_list %}
        <div class="col-lg-4 col-md-6 p-3">
            <a href="{% url 'post_detail' post.slug %}" class="">
                <div class="card card-background">
                    {% if "placeholder" in post.post_image.url %}
                    <img src="{% static 'images/placeholder-image.jpg' %}" alt="Post image">
                    {% else %}
                    <img src=" {{ post.post_image.url }}" alt="{{post.title}} +"/>
                    {% endif %}
                    <h2 class="px-2 pt-1 m-0">{{post.title}}</h2>
                    <h5 class="fst-italic px-2 pt-1 m-0">Author: {{ post.author }}</h5>
                    <hr class="m-1">
                    <p class="p-2 mb-1">{{post.excerpt}}</p>
                    <p class="text-muted fst-italic text-italic px-2 m-0">Created on: {{ post.created_on }}</p>
                    {% if post.created_on.value == post.updated_on.value %}
                    {% else %}
                    <p class="text-muted fst-italic px-2 m-0">Last edited: {{ post.updated_on }}</p>
                    {% endif %}
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>

<!-- index.html content ends here -->

{% endblock %}
