{% extends 'base.html' %} 
{% load crispy_forms_tags %}

{% block content %}

<!-- Post create form -->
<div class="container-md card content-background">
  <div class="row justify-content-md-center">
    <h3>Leave a Post:</h3>
    <p>Posting as: {{ user.username }}</p>
    <form id="postForm" method="post" enctype="multipart/form-data" style="margin-top: 1.3em">
      {{ post_form | crispy }} {% csrf_token %}
      <button id="submitButton" type="submit" class="btn btn-signup btn-lg">
        Submit
      </button>
    </form>
  </div>
</div>

{% endblock %}
