{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<!-- post_detail.html content starts here -->
<div class="container-sm card my-5 content-background">
    <div class="row justify-content-sm-center p-3">
        <div class="col m-xl-5 m-md-4 m-2 p-0">
            {% if "placeholder" in post.post_image.url %}
            <img src="{% static 'images/placeholder-image.jpg' %}" style="width: 100%; height: auto; border-radius: 0.25rem;"
                alt="{{ post.post_image.url }} image">
            {% else %}
            <img src="{{ post.post_image.url }}" style="width: 100%; height: auto; border-radius: 0.50rem;" alt="{{ post.post_image.url }} image">
            {% endif %}
        </div>
        <h1 class="text-center">{{post.title}}</h1>
        <h4 class="text-center">Written by: {{post.author}}</h4>
        <hr>
        <p id="post{{ post.id }}">{{ post.content | safe }}</p>
        <p class="text-muted fst-italic text-italic px-2 m-0">Created on: {{ post.created_on }}</p>
        <p class="text-muted fst-italic px-2 m-0">Last edited: {{ post.updated_on }}</p>
        <hr>
        <div class="row">
            <div class="col-2">
                <h4><i class="fa-regular fa-comments comment-icon"></i> {{ comment_count }}</h4>
            </div>
            <div class="col-2">
                {% if user.is_authenticated %}
                <h4>
                    <form id="likeForm" action="{% url 'post_like' post.slug %}" method="POST">
                        {% csrf_token %}
                        {% if post_liked %}
                        <a onclick="document.getElementById('likeForm').submit()" value="{{post.slug}}"><i class="fa-solid fa-heart like-icon"></i></a>
                        {% else %}
                        <a onclick="document.getElementById('likeForm').submit()" value="{{post.slug}}"><i class="fa-regular fa-heart like-icon"></i></a>
                        {% endif %}
                        {{ post.total_likes }}
                    </form>
                </h4>
                {% else %}
                <h4>
                    <i class="fa-regular fa-heart like-icon"></i> {{ post.total_likes }}
                </h4>
                {% endif %}
            </div>
            <div class="col-2"></div>
            <div class="col-2"></div>
            {% if user.is_authenticated and post.author == request.user%}
            <div class="col-2">
                <a href="{% url 'post_edit' post.pk %}"><i class="fa-regular fa-pen-to-square edit-icon float-end"></i></a>
            </div>
            <div class="col-2">
                <a><i post_id="{{ post.id }}" class="fa-regular fa-trash-can delete-icon float-end btn-delete-post"></i></a>
            </div>
            {% endif %}
        </div>
    </div>
</div>

<!-- Add comment feature -->
<div class="container-sm card my-5 content-background">
    <div class="row justify-content-center p-3">
        <h3 id="commentHeading">Leave a comment</h3>
        <form id="commentForm" method="post">
            {% csrf_token %}
            <textarea type="text" id="content" name="content" rows="5" cols="200" class="form-control mb-3">{{ comment.content | safe }}</textarea>
            <button id="submitButton" type="submit" class="btn btn-lg btn-submit">Submit</button>
        </form>

        <!-- Comments -->
        <h3 class="col-11 mt-4 mb-3 p-0">Comments</h3>
        {% for comment in post_comments %}
        <div class="card card-background col-11 mb-3 p-3 {% if not comment.approved and comment.author == user %}not-approved{% elif not comment.approved %}d-none{% endif %}">
            <div class="row mt-2">
                <div class="col-4">
                    <h5 class="mb-1">{{ comment.author }}</h5>
                </div>
                <div class="col-8">
                    {% if not comment.approved and comment.author == user %}
                    <p class="float-end mb-1">- comment is awaiting approval</p>
                    {% endif %}
                </div>
            </div>
            <hr class="m-0">
            <div class="mt-2" id="comment{{ comment.id }}">{{ comment.content | linebreaks }}</div>
            {% if user.is_authenticated and comment.author == user %}
            <div class="row mt-2">
                <div class="col-5">
                    <button class="btn btn-edit me-1" comment_id="{{ comment.id }}">Edit</button>
                    <button class="btn btn-delete btn-delete-comment" comment_id="{{ comment.id }}">Delete</button>
                </div>
                <div class="col-7">
                    <p class="text-muted fst-italic text-italic float-end m-0">
                        Created on: {{ post.created_on }}
                        <br>Last edited: {{ post.updated_on }}
                    </p>
                </div>
            </div>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>

<!-- Delete confirmation modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true" >
    <div class="modal-dialog">
        <div class="modal-content content-background">
            <div class="modal-header">
                <h4 class="modal-title" id="deleteModalLabel">Delete comment?</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p id="deleteModalText">Are you sure you want to delete this? This action cannot be undone!</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-normal" data-bs-dismiss="modal">Close</button>
                <a id="deleteConfirm" href="#" class="btn btn-delete">Delete</a>
            </div>
        </div>
    </div>
</div>
<!-- post_detail.html content ends here -->

{% endblock %} {% block extras %}
<script src="{% static 'js/comments.js' %}"></script>
{% endblock %}
