{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<!-- post_edit.html content starts here -->
<!-- Edit post form -->
<div class="container-sm card my-5 content-background">
    <div class="row justify-content-sm-center px-md-2">
        <h1 class="my-4 text-center">Edit post</h1>
        <form id="postForm" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-3">
                {{ post_form.title|as_crispy_field }}
            </div>
            <div class="mb-3">
                {{ post_form.post_image|as_crispy_field }}
            </div>
            <div class="mb-3">
                {{ post_form.category|as_crispy_field }}
            </div>
            <div class="mb-3">
                {{ post_form.excerpt|as_crispy_field }}
            </div>
            <div class="mb-3">
                {{ post_form.content|as_crispy_field|safe }}
            </div>
            <button type="submit" class="btn btn-lg btn-normal mb-4">Update</button>
        </form>
    </div>
</div>
<!-- post_edit.html content ends here -->

{% endblock %}