{% extends 'base.html' %}

{% load crispy_forms_tags %}

<!-- Post create form -->
{% block content %}

<!-- index.html content starts here -->

<!-- Creating New Comments -->

<div class="container-md card content-background">
    <div class="row justify-content-md-center">
        <h3>Leave a Post:</h3>
        <p>Posting as: {{ user.username }}</p>
        <form id="postForm" method="post" style="margin-top: 1.3em;">
            {{ post_form | crispy }}
            {% csrf_token %}
            <button id="submitButton" type="submit" class="btn btn-signup btn-lg">Submit</button>
        </form>
    </div>
</div>

<!-- index.html content ends here -->

{% endblock %}