{% extends 'base.html' %}

{% block content %}

<!-- post_edit.html content starts here -->
<div class="container-sm card my-5 content-background">
    <div class="row justify-content-sm-center">
        <h1 class="m-4 text-center">Edit post</h2>
        <form action="{% url 'post_edit' post.pk %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <label for="image">Image</label>
            <br>
            <input type="file" id="post_image" name="post_image" class="form-control" value="{{ post.post_image }}">
            <br>
            <label for="category">Category*</label>
            <br>
            <select name="category" id="category" class="form-select">
                <option value="0">None</option>
                <option value="1">PvM</option>
                <option value="2">PvP</option>
                <option value="3">Skilling</option>
                <option value="4">Questing</option>
            </select>
            <br>
            <label for="title">Title*</label>
            <br>
            <input type="text" id="title" name="title" class="form-control" value="{{ post.title }}" required>
            <br>
            <label for="content">Content*</label>
            <br>
            <textarea type="text" id="content" name="content" rows="50" cols="200" class="form-control"
                required>{{ post.content | safe }}</textarea>
            <br>
            <label for="excerpt">Excerpt*</label><br>
            <textarea type="text" id="excerpt" name="excerpt" rows="5" cols="50" class="form-control"
                required>{{ post.excerpt }}</textarea>
            <br>
            <div class="mb-4">
                <button type="submit" class="btn btn-lg btn-normal">Update</button>
                <a href="{% url 'post_delete' post.pk %}" class="btn btn-lg btn-delete ms-2">Delete Post</a>
            </div>
        </form>
    </div>
</div>
<!-- post_edit.html content ends here -->

{% endblock %}