body {
    background-image: url("../images/background-osrs.webp");
    background-attachment: fixed;
    background-position: center;
    font-family: "Roboto", sans-serif;
}

.profile-icon {
    color: #533c00;
    font-size: 45px;
    border: 4px solid #533c00;
    padding: 4px 8.5px;
    border-radius: 50%;
}

.profile-icon:hover {
    color: #886201;
    border: 4px solid #886201;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}

.content-background {
    background-color: #dbcba3;
}

.nav-background,
.footer-background,
.card-background {
    background-color: #c9b27c;
}

.social-icons {
    font-size: 35px;
    color: #533c00;
}

.social-icons:hover {
    color: #886201;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}

.brand-logo {
    width: 240px;
    height: 70px;
    border: 3px solid #533c00;
}

.brand-logo:hover {
    border: 3px solid #886201;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}

.nav-text {
    font-size: 1.5rem;
    font-family: "Roboto Slab", serif;
    color: #533c00!important;
}

.nav-text:hover {
    color: #886201!important;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}

.nav-active {
    color: black!important;
    border-bottom: 3px solid black;
    padding-bottom: 0;
}

h1, h2 ,h3, h4, h5, h6 {
    font-family: "Roboto Slab", serif;
}

a {
    color: black;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
    text-decoration: none;
}

a:hover {
    color: #533c00;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}