body {
  background-image: url("../images/background-osrs.webp");
  background-attachment: fixed;
  background-position: center;
}

.icon-brown{
    color: #5a4000;
}

.btn-brown{
    background-color: #5a4000;
}

.content-background {
  background-color: #dbcba3;
}

.nav-background,
.footer-background,
.content-card {
  background-color: #c9b27c;
}
